.addButton{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-end;
}
.addButton button{
    border-radius: 5px;
    border: 0;
    background-color: rgb(233, 160, 37);
    color: white;
    height: 50px;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    margin-right: 50px;
}